body { 
    background-color: rgb(248, 227, 198);
}
header {
    width: 95%;
    border: 10px with solid rgb(20, 65, 228);
    padding: 30px;
    border-radius: 195px;
    text-align: center;
}

header p {
    color: rgb(20, 193, 228);
    font-style: italic;
}

img{
    width: 290px;
    border: 10px with solid rgb(228, 169, 20);
    border-radius: 40px 9px 40px 9px ;
}
   
header img:hover {
    transform:  scale(.8)
    transition: all .3s ease-in-out;
}
header h1 {
    color: rgb(41, 34, 178);
}

button {
    display: block;
    margin: 20-x auto;
    padding: 6px 25px;
    background-color: #14b6f6;
    border: none;
    border-radius: 15px 0 15px 0;
}
button:hover {
    background-color: rgb(238, 255, 0);
    color: aliceblue
    transform: scale(.8);
    transition: all.3s ease-in-out;
}
footer {}
       text-allign:center;
       padding: 20px;
       background-color::after
       color::backdrop
{

}
